@import 'primeicons/primeicons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.p-progressspinner-circle {
  /* stroke: var(--p-button-primary-background) !important; */
}
.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
